<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnRisky="true"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
	>

	<coverage />

	<php>

		<const name="OPENTHC_TEST_ORIGIN" value="https://cre.openthc.example.com" />

		<!-- If defined, it will spew debug -->
		<!-- <const name="OPENTHC_TEST_HTTP_DEBUG" value="0" /> -->

		<!-- export OPENTHC_TEST_SERVICE_ID="010PENTHC0TEST0SERV1CE000A"
		# export OPENTHC_TEST_SERVICE_ID="010PENTHCX0000SVC000000APP" -->


		<!-- @todo these should be moved to CONST -->
		<!-- root/system accounts -->
		<env name="OPENTHC_TEST_CLIENT_SERVICE_0" value="010PENTHC0SERV1CE000000000" />
		<env name="OPENTHC_TEST_CLIENT_CONTACT_0" value="010PENTHC0C0NTACT000000000" />
		<env name="OPENTHC_TEST_CLIENT_COMPANY_0" value="010PENTHC0C0MPANY000000000" />
		<env name="OPENTHC_TEST_CLIENT_LICENSE_0" value="010PENTHC0L1CNSE0000000000" />

		<env name="OPENTHC_TEST_CLIENT_SERVICE_A" value="010PENTHC0TEST0SERV1CE000A" />
		<env name="OPENTHC_TEST_CLIENT_SERVICE_B" value="010PENTHC0TEST0SERV1CE000B" />
		<env name="OPENTHC_TEST_CLIENT_SERVICE_C" value="010PENTHC0TEST0SERV1CE000C" />

		<!-- Farmer / Grower / Producer -->
		<env name="OPENTHC_TEST_CLIENT_CONTACT_A" value="010PENTHC0TEST0C0NTACT000A" />
		<env name="OPENTHC_TEST_CLIENT_COMPANY_A" value="010PENTHC0TEST0C0MPANY000A" />
		<env name="OPENTHC_TEST_CLIENT_LICENSE_A" value="010PENTHC0TEST0L1CENSE000A" />
		<env name="OPENTHC_TEST_CLIENT_LICENSE_A-secret" value="" />

		<!-- Processor / Manufacturer / Distributor -->
		<env name="OPENTHC_TEST_CLIENT_CONTACT_B" value="010PENTHC0TEST0C0NTACT000B" />
		<env name="OPENTHC_TEST_CLIENT_COMPANY_B" value="010PENTHC0TEST0C0MPANY000B" />
		<env name="OPENTHC_TEST_CLIENT_LICENSE_B" value="010PENTHC0TEST0L1CENSE000B" />
		<env name="OPENTHC_TEST_CLIENT_LICENSE_B-secret" value="" />

		<!-- Laboratory -->
		<env name="OPENTHC_TEST_CLIENT_CONTACT_C" value="010PENTHC0TEST0C0NTACT000E" />
		<env name="OPENTHC_TEST_CLIENT_COMPANY_C" value="010PENTHC0TEST0C0MPANY000C" />
		<env name="OPENTHC_TEST_CLIENT_LICENSE_C" value="010PENTHC0TEST0L1CENSE000C" />
		<env name="OPENTHC_TEST_CLIENT_LICENSE_C-secret" value="" />

		<!-- Retail / Dispensary -->
		<env name="api-contact-d" value="010PENTHC0TEST0C0NTACT000G" />
		<env name="api-company-d" value="010PENTHC0TEST0C0MPANY000D" />
		<env name="api-license-d" value="010PENTHC0TEST0L1CENSE000D" />
		<env name="api-license-d-secret" value="" />

	</php>

	<testsuites>
<!--
		<testsuite name="All">
			<directory>.</directory>
		</testsuite>
-->
		<testsuite name="System">
			<directory>A_System</directory>
		</testsuite>

		<testsuite name="Auth">
			<directory>B_Auth</directory>
		</testsuite>

		<testsuite name="Core">
			<directory>Core</directory>
		</testsuite>

		<testsuite name="Propagate">
			<directory>D_Propagate</directory>
		</testsuite>

		<testsuite name="Crop">
			<directory>E_Crop</directory>
		</testsuite>

		<testsuite name="Crop Collect">
			<directory>F_Crop_Collect</directory>
		</testsuite>

		<testsuite name="Process">
			<directory>G_Process</directory>
		</testsuite>

		<testsuite name="Laboratory">
			<directory>H_Laboratory</directory>
		</testsuite>

		<testsuite name="Package">
			<directory>I_Package</directory>
		</testsuite>

		<testsuite name="B2B Transaction">
			<directory>J_B2B</directory>
		</testsuite>

		<testsuite name="B2C Transaction">
			<directory>K_B2C</directory>
		</testsuite>

	</testsuites>

</phpunit>
