<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
	>

	<coverage />

	<php>

		<env name="debug-http" value="false" />

		<env name="api-uri" value="https://cre.openthc.dev/" />

		<!-- root/system accounts -->
		<env name="api-service-0" value="010PENTHC0SERV1CE000000000" />
		<env name="api-contact-0" value="010PENTHC0C0NTACT000000000" />
		<env name="api-company-0" value="010PENTHC0C0MPANY000000000" />
		<env name="api-license-0" value="010PENTHC0L1CNSE0000000000" />

		<env name="api-service-a" value="010PENTHC0TEST0SERV1CE000A" />
		<env name="api-service-b" value="010PENTHC0TEST0SERV1CE000B" />
		<env name="api-service-c" value="010PENTHC0TEST0SERV1CE000C" />

		<!-- Farmer / Grower / Producer -->
		<env name="api-contact-a" value="010PENTHC0TEST0C0NTACT000A" />
		<env name="api-company-a" value="010PENTHC0TEST0C0MPANY000A" />
		<env name="api-license-a" value="010PENTHC0TEST0L1CENSE000A" />
		<env name="api-license-a-secret" value="" />

		<!-- Processor / Manufacturer / Distributor -->
		<env name="api-contact-b" value="010PENTHC0TEST0C0NTACT000B" />
		<env name="api-company-b" value="010PENTHC0TEST0C0MPANY000B" />
		<env name="api-license-b" value="010PENTHC0TEST0L1CENSE000B" />
		<env name="api-license-b-secret" value="" />

		<!-- Laboratory -->
		<env name="api-contact-c" value="010PENTHC0TEST0C0NTACT000E" />
		<env name="api-company-c" value="010PENTHC0TEST0C0MPANY000C" />
		<env name="api-license-c" value="010PENTHC0TEST0L1CENSE000C" />
		<env name="api-license-c-secret" value="" />

		<!-- Retail / Dispensary -->
		<env name="api-contact-d" value="010PENTHC0TEST0C0NTACT000G" />
		<env name="api-company-d" value="010PENTHC0TEST0C0MPANY000D" />
		<env name="api-license-d" value="010PENTHC0TEST0L1CENSE000D" />
		<env name="api-license-d-secret" value="" />

	</php>

	<testsuites>
<!--
		<testsuite name="All">
			<directory>.</directory>
		</testsuite>
-->
		<testsuite name="System">
			<directory>A_System</directory>
		</testsuite>

		<testsuite name="Auth">
			<directory>B_Auth</directory>
		</testsuite>

		<testsuite name="Core">
			<directory>C_Core</directory>
		</testsuite>

		<testsuite name="Propagate">
			<directory>D_Propagate</directory>
		</testsuite>

		<testsuite name="Crop">
			<directory>E_Crop</directory>
		</testsuite>

		<testsuite name="Crop Collect">
			<directory>F_Crop_Collect</directory>
		</testsuite>

		<testsuite name="Process">
			<directory>G_Process</directory>
		</testsuite>

		<testsuite name="Laboratory">
			<directory>H_Laboratory</directory>
		</testsuite>

		<testsuite name="Package">
			<directory>I_Package</directory>
		</testsuite>

		<testsuite name="B2B Transaction">
			<directory>J_B2B</directory>
		</testsuite>

		<testsuite name="B2C Transaction">
			<directory>K_B2C</directory>
		</testsuite>

	</testsuites>

</phpunit>
