<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnRisky="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
	>

	<coverage />

	<php>

		<env name="debug-http" value="false" />

		<env name="api-uri" value="https://cre.openthc.dev/" />

		<!-- root/system accounts -->
		<env name="api-service-0" value="018NY6XC00SERVICE000000000" />
		<env name="api-company-0" value="018NY6XC00C0MPANY000000000" />
		<env name="api-license-0" value="018NY6XC00LICENSE000000000" />

		<env name="api-service-a" value="018NY6XC004QR1WM5H86QRCGXG" />
		<env name="api-service-b" value="" />
		<env name="api-service-c" value="018NY6XC00XHVSZMJGXA37B05S" />

		<!-- Farmer / Grower / Producer -->
		<env name="api-company-g0" value="018NY6XC00209XSPAMRCXSRYF2" />
		<env name="api-license-g0" value="018NY6XC00NVQVXP6A24ND2CBW" />
		<env name="api-contact-g0" value="" />
		<env name="api-license-g0-secret" value="" />

		<!-- Processor / Manufacturer / Distributor -->
		<env name="api-company-p0" value="018NY6XC00Y0BZDEJFRXBW82T4" />
		<env name="api-license-p0" value="018NY6XC00QQS4S9MC1WX5A76G" />
		<env name="api-contact-p0" value="" />
		<env name="api-license-p0-secret" value="" />

		<!-- Laboratory -->
		<env name="api-company-l0" value="018NY6XC00XFHHT41X08Y6JX23" />
		<env name="api-license-l0" value="018NY6XC00MGS6HQZ6787CB92R" />
		<env name="api-contact-l0" value="" />
		<env name="api-license-l0-secret" value="" />

		<!-- Retail / Dispensary -->
		<env name="api-company-r0" value="018NY6XC00H3QJW8QGE7CXNAAQ" />
		<env name="api-license-r0" value="018NY6XC00D60MW90N4GTB75Y1" />
		<env name="api-contact-r0" value="" />
		<env name="api-license-r0-secret" value="" />

	</php>

	<testsuites>

		<testsuite name="System">
			<directory>A_System</directory>
		</testsuite>

		<testsuite name="Auth">
			<directory>B_Auth</directory>
		</testsuite>

		<testsuite name="Core">
			<directory>C_Core</directory>
		</testsuite>

		<testsuite name="Propagate">
			<directory>D_Propagate</directory>
		</testsuite>

		<testsuite name="Crop">
			<directory>E_Crop</directory>
		</testsuite>

		<testsuite name="Crop-Collect">
			<directory>E_Crop_Collect</directory>
		</testsuite>

		<testsuite name="Process">
			<directory>G_Process</directory>
		</testsuite>

		<testsuite name="Laboratory">
			<directory>H_Laboratory</directory>
		</testsuite>

		<testsuite name="I-Package">
			<directory>I_Package</directory>
		</testsuite>

		<testsuite name="B2B">
			<directory>J_B2B</directory>
		</testsuite>

		<testsuite name="B2C">
			<directory>K_B2C</directory>
		</testsuite>

	</testsuites>

	<logging>
		<junit outputFile="../webroot/test-output/output.xml" />
	</logging>

</phpunit>
