<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="false"
	stopOnRisky="true"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
	>

	<coverage />

	<php>

		<env name="debug-http" value="false" />

		<env name="api-uri" value="https://cre.openthc.dev/" />

		<!-- root/system accounts -->
		<env name="api-service-0" value="018NY6XC00SERV1CE000000000" />
		<env name="api-contact-0" value="018NY6XC00C0NTACT000000000" />
		<env name="api-company-0" value="018NY6XC00C0MPANY000000000" />
		<env name="api-license-0" value="018NY6XC00L1CENSE000000000" />

		<env name="api-service-a" value="018NY6XC00SERV1CE00000000A" />
		<env name="api-service-b" value="018NY6XC00SERV1CE00000000B" />
		<env name="api-service-c" value="018NY6XC00SERV1CE00000000C" />

		<!-- Farmer / Grower / Producer -->
		<env name="api-contact-a" value="018NY6XC00C0NTACT00000000A" />
		<env name="api-company-a" value="018NY6XC00C0MPANY00000000A" />
		<env name="api-license-a" value="018NY6XC00L1CENSE00000000A" />
		<env name="api-license-a-secret" value="" />
		<!-- <env name="api-license-g1" value="018NY6XC00L1CENSE00000000A" /> -->
		<!-- <env name="api-license-g1-secret" value="" /> -->

		<!-- Processor / Manufacturer / Distributor -->
		<env name="api-contact-b" value="018NY6XC00C0NTACT00000000B" />
		<env name="api-company-b" value="018NY6XC00C0MPANY00000000B" />
		<env name="api-license-b" value="018NY6XC00L1CENSE00000000B" />
		<env name="api-license-b-secret" value="" />

		<!-- Laboratory -->
		<env name="api-contact-c" value="018NY6XC00C0NTACT00000000C" />
		<env name="api-company-c" value="018NY6XC00C0MPANY00000000C" />
		<env name="api-license-c" value="018NY6XC00L1CENSE00000000C" />
		<env name="api-license-c-secret" value="" />

		<!-- Retail / Dispensary -->
		<env name="api-contact-d" value="018NY6XC00C0NTACT00000000D" />
		<env name="api-company-d" value="018NY6XC00C0MPANY00000000D" />
		<env name="api-license-d" value="018NY6XC00L1CENSE00000000D" />
		<env name="api-license-d-secret" value="" />

	</php>

	<testsuites>
<!--
		<testsuite name="All">
			<directory>.</directory>
		</testsuite>
-->
		<testsuite name="System">
			<directory>A_System</directory>
		</testsuite>

		<testsuite name="Auth">
			<directory>B_Auth</directory>
		</testsuite>

		<testsuite name="Core">
			<directory>C_Core</directory>
		</testsuite>

		<testsuite name="Propagate">
			<directory>D_Propagate</directory>
		</testsuite>

		<testsuite name="Crop">
			<directory>E_Crop</directory>
		</testsuite>

		<testsuite name="Crop Collect">
			<directory>F_Crop_Collect</directory>
		</testsuite>

		<testsuite name="Process">
			<directory>G_Process</directory>
		</testsuite>

		<testsuite name="Laboratory">
			<directory>H_Laboratory</directory>
		</testsuite>

		<testsuite name="Package">
			<directory>I_Package</directory>
		</testsuite>

		<testsuite name="B2B Transaction">
			<directory>J_B2B</directory>
		</testsuite>

		<testsuite name="B2C Transaction">
			<directory>K_B2C</directory>
		</testsuite>

	</testsuites>

</phpunit>
